body {
  background-color: darkslateblue;
  font-size: 24px;
  /* text-align: center; */
}

/* 

  Propiedades de texto

  Estan relacionadas con el estilo o formato de los textos en HTML.

  Controlamos su apariencia, espaciado, aleineaci칩n y decoraci칩n.

  Propiedades principales

    color 游녤 Define el color del texto y puede recibir diferentes valores: keywords, hexadecimales, rgb, rgba, hsl, hsla, transparent. La "a" en el sistema rgba significa alpha chanel o canal alpha.

    font-family 游녤 Define la familia tipogr치fica del texto. Recibiendo lo valores como: Keywords, Nombre de la familia, si tiene m치s de dos palabras se colocan entre comillas. Si tenemos fuentes de respaldo se separan por comas ,

    font-size 游녤 Define el tama침o de texto. Acepta valores en px, em, rem, porcentaje y funciones.
    
    font-style 游녤 El estilo de fuente y recibe tres parametros: normal, italic y oblique.

    font-weigth 游녤 Define el peso tipografico si la familia tipogr치fica lo permite.
*/

h1 {
  color: pink;
  color: red;
  color: lightblue;
  color: lightgreen;
  font-family: sans-serif;
  font-size: 64px;
  font-style: italic;
  font-weight: 600;
}

p {
  color: #FFFFFF;
  color: #abc229;
  color: #64F;
  color: #DFBBB1;
  font-family: "Gill Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400; /* Regular */
  font-weight: 900; /* Black */
  font-weight: 100; /* X-Light */
}

a {
  color: rgb(232, 95, 31);
  font-family: "Helvetica", sans-serif;
  font-size: 72px;
  font-style: normal; /* Default */
  font-weight: 600;
}

 /* 
    El hexadecimal se divien en grupo de 2 caracteres 

    # 00 00 00
      R  G  B

      Los valores 0 al 9 y de A a F -> 16 caracteres. El valore representa el color m치s obscuro y la f el m치s luminoso.
      
      Cuando los tres pares tienen el mismo valor, se pueden abreviar.

    # FF FF FF  > #FFF

  */


/* 

  Propiedades de Alineaci칩n

  text-aling 游녤 Define la alineaci칩n del texto. Recibe los valores left, right, center, justify, start y end.

*/

h1 {
  background-color: blue;
  text-align: left; /* Default */
  text-align: right;
  text-align: center;
  text-align: justify; /* Debe ser un parrafo y tener espacio para distribuir */
  text-align: start;
  text-align: end;
}

p {
  text-align: right;
}

a {
  background-color: rgb(21, 27, 8);
  text-align: right; /* No funciona 游땞 */
}


/* 

  Propiedades de Estilo

  text-decoration 游녤 A침ade una linea transversal al texto. Recibe los valores: none, underline, overline, line-through

  text-transform 游녤 controla la capitalizaci칩n del texto. Recibe valores: uppercase, lowercase y capitalize.

  line-height 游녤 Espacio entre las lineas del texto. Recibe valores en px, %, em, rem.

  letter-spacing 游녤 Espacio entre letras. Recibe valores en px, em, rem y %.

  word-spacing 游녤 Espacio entre palabras. Recibe valores en px, em , rem y %.

  text-shadow 游녤 Sombra del texto. La sintaxis es en el siguinte orden: offset-x offset-y blur color.

*/

.important {
  color: aquamarine;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase; /* May칰sculas */
  text-transform: lowercase; /* Min칰sculas */
  text-transform: capitalize; /* Primera letra palabra en may칰s */

  letter-spacing: 10px;

  text-shadow: 10px 10px 10px rgb(6, 30, 35);
}

p {
  line-height: 64px;
  /* letter-spacing: 20px; */
  word-spacing: 30px;
}