/* 

  Unidades en CSS

  Las unides en CSS se dividen en dos catergorías principales:

  1. Unidades Absolutas

  Mantienen valores fijos independientemente del dispositivo o contexto.

  Es decir que "siempre" tendrán el mismo valor sin importar el tamaños de pantalla o del contenedor.

  Son útiles cuando se requiere presición en las medidas, pero NO son ideales para diseño web responsivo.

  Las unidades absolutas más usadas son:

  px (pixeles) 👉 Esta unidad marca un punto en la pantalla. (1/96 de 1in)

  Otras unidades

    - cm (centímetros) 👉 1cm = 96px | 2.54in
    - mm (milimetros) 👉 1/10 de 1cm
    - in (pulgadas) 👉 1in = 96px
    - pc (picas) 👉 1/6 de 1in
    - pt (puntos) 👉 1/72 de 1in

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* DEFAULT */
  font-size: 24px; 
}

body {
  font-family: sans-serif;
  margin: 24px;
  padding: 0;
  background-color: darkslateblue;
}

h1, 
h2 {
  text-align: center;
  margin-bottom: 24px;
  color: whitesmoke;
}

section {
  font-size: 24px;
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: darkgreen;
}

/* .box {
  text-align: center;
  margin: 16px auto;
  padding: 16px;
  color: white;
} */

/* Unidades Absolutas */

.px {
  width: 200px;
  height: 200px;
  background-color: darkblue;
}

.cm {
  width: 5cm;
  height: 5cm;
  background-color: darkmagenta;
}

.in {
  width: 2in;
  height: 2in;
  background-color: darkcyan;
}

/* 

  2. Unidades Relativas

  Son unidaddes que adaptan sus valores en función del dispositivo o contexto. Es decir se cambiaran de acuerdo al área visible del navegador, al contenedor u otro valor de referencia.
  
  Son útiles cuando necesitamos flexibilidad y son ideales para el diseño web responsivo.

  Las unidades más usadas son:

  em 👉 relativa al tamaño de fuente del elemento padre.
  rem  👉 relativa al tamaño de fuente del elemento raiz o root › html
  % 👉 es relativo al elemento padre.
  vw (viewport width) 👉 es porcentaje relativo al ancho del área visible del navegador.
  vh (viewport height) 👉 es porcentaje relativo al alto del área visible del navegador.
  vmin (viewport min) 👉 es un porcentaje relativo al lado más pequeño del área visible del navegador.
  vmx (viewport max) 👉 es un porcentaje relativo al lado más grande del área visible del navegador.
*/

/* Unidades Relativas */

article {
  font-size: 20px; 
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: darkblue;
}

.em {
  width: 3em; /* 60px */
  background-color: rgb(14, 11, 11);
}

.rem {
  width: 6rem; /* 144px */
  background-color: darkseagreen;
}

.percent {
  width: 50%;
  background-color: darkred;
}

.vw {
  background-color: darkslategray;
}

.vh {
  background-color: darkturquoise;
}

.vmin {
  background-color: darkorange;
}

.vmax {
  background-color: darkmagenta;
}