/* 
  
  Esto es un bloque de comentario en CSS 

  Su shortcut 👉 Alt + Shift + A

  Nos sirve para documentar o comentar el código de CSS.
  
*/

/* 

  Sintaxis

  La sintaxis se usa para definir los estilos que se aplican a los elementos del html.

  En CSS consta de 3 componentes:

    selector {
      propiedad: valor;
      ...
    }

    selector 👉 El elemento de HTML al que se le aplica el estilo.
    propiedad 👉 Es la característica que se definirá en el elemento.
    valor 👉 El estilo que se aplica a la propiedad.

    El conjunto de estos elementos se le conoce como Regla de CSS

*/

body {
  background-color: darkslateblue;
  color: whitesmoke;
}