/* 

  Selectores

  Son declaraciones que permiten seleccionar y aplicar estilos a los elementos de HTML.

  Tipos de Selectores

  1. Básicos

    Selector Universal 👉 Selecciona todos los elementos del html se usa el *

    Selector de Elemento 👉 Selecciona un tipo de elemento de html con su nombre.

*/

* {
  border: 2px solid red;
  /* Se utiliza para hacer un resset o normalizar los estilos iniciales del navegador */
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
}

header {
  background-color: lightcoral;
}

h1 {
  color: green;
}

li {
  color: yellow;
}

/* 

  2. Selectores de Clase y ID

  Seleccionan los elementos de html que tienen definida una clase o un id en sus atributos.

  clase 👉 se usa la notación de .nombre-clase
  id 👉 se usa la notación de #nombreId

*/

.puchunguis {
  border: none;
  background-color: yellow;
}

#titulo {
  color: purple;
  font-size: 48px;
  border: none;
}

.frase {
  border: none;
  color: blue;
  font-size: 24px;
}

#matona {
  color: darkmagenta;
  font-family: sans-serif;
  font-weight: 900;
}

/* 

  Selectores combinados

  - Descendientes. Seleccionan elementos dentro  de otros elementos.

    elemento elementoInterno {
    ...
    }  
*/

section h2 {
  color: rgb(28, 219, 162);
  font-family: sans-serif;
  border: none;
}

body .galeria {
  border: none;
  background-color: rgb(0, 0, 0);
}

.galeria .mounstros {
  border: none;
  background-color: rgb(85, 7, 7);
}

/* 

  Selectores Combinados

  - Hijo Directo. Selecciona elemento que son hijos directos de un elemento padre. 

    elementoPadre > elementoHijo {
      ...
    }

*/

.mounstros > li {
  border: none;
  text-align: center;
  margin-bottom: 24px;
  background-color: purple;
}


/* 

  Selectores Combinado

  - Elemento Adyacente. Selecciona el primer elemento inmediatamnte después de otro elemento. Es decir su hermano inmediato.

    elemento + elementoAdyacente {
     ...
    }

*/

.primer-hermano + li {
  font-size: 2rem;
  color: pink;
}

/* 

  Selectores combinados

  - Hermanos General. Selecciona todos los hermanos despúes de un elemento. Virgulilla Alt Gr + 'Tecla +'

    elemento ~ elementoHermano {
      ...
    }

*/

.primer-hermano ~ li {
  font-family: monospace;
  text-decoration: underline;
}